* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    color: white;
}
.navbar {
    position: relative;
    height: 70px;
}

.navbar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px; /* Adjust thickness */
    background: linear-gradient(to left, black, rgb(54, 54, 54),  rgb(251, 46, 152), rgb(26, 148, 255), rgb(73, 73, 73), black);
}

.animate {
    position: relative;
    background: black !important;
}

.animate::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, rgb(251, 46, 152), rgb(26, 148, 255), black);
    border-radius: inherit;
    background-size: 300% 300%; /* Key fix: Enlarging background for animation */
    background-position: 0% 100%;
    filter: blur(7px); /* Increase blur for glowing effect */
    z-index: -1; /* Keep it behind the content */
    animation: glowing 10s linear infinite;
}

.admin-menu-button {
    padding: 10px;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}